Before you turn in the homework, make sure everything runs as expected. To do so, select **Kernel**$\rightarrow$**Restart & Run All** in the toolbar above.  Remember to submit both on **DataHub** and **Gradescope**.

Please fill in your name and include a list of your collaborators below.

In [1]:
NAME = "Vinay Maruri"
COLLABORATORS = ""

---

# Project 2: NYC Taxi Rides
# Extras

Put all of your extra work in here. Feel free to save figures to use when completing Part 4.

In [2]:
import os
import pandas as pd
import numpy as np
import sklearn.linear_model as lm
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
from sqlalchemy import create_engine
from sklearn.model_selection import cross_val_score, train_test_split, GridSearchCV

sns.set(style="whitegrid", palette="muted")

plt.rcParams['figure.figsize'] = (12, 9)
plt.rcParams['font.size'] = 12

%matplotlib inline

In [3]:
from pylab import savefig

In [4]:
# Run this cell to load the data. 
data_file = Path("./", "cleaned_data.hdf")
train_df = pd.read_hdf(data_file, "train")
val_df = pd.read_hdf(data_file, "val")

In [5]:
train_df.columns.values

array(['record_id', 'VendorID', 'tpep_pickup_datetime',
       'tpep_dropoff_datetime', 'passenger_count', 'trip_distance',
       'pickup_longitude', 'pickup_latitude', 'RatecodeID',
       'store_and_fwd_flag', 'dropoff_longitude', 'dropoff_latitude',
       'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount',
       'tolls_amount', 'improvement_surcharge', 'total_amount', 'duration'], dtype=object)

In [9]:
train_df

,record_id,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,...,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,duration
13242,5711100,1,2016-01-17 17:48:41,2016-01-17 17:55:53,1,1.00,-74.006470,40.738766,1,N,...,40.735664,1,6.5,0.0,0.5,1.45,0.00,0.3,8.75,432.0
12723,4989400,1,2016-01-17 01:18:39,2016-01-17 01:21:15,1,0.40,-73.989365,40.763000,1,N,...,40.766121,2,4.0,0.5,0.5,0.00,0.00,0.3,5.30,156.0
8508,2436400,2,2016-01-12 09:07:00,2016-01-12 09:41:17,1,11.40,-73.984108,40.774509,1,N,...,40.770458,1,37.0,0.0,0.5,8.67,5.54,0.3,52.01,2057.0
21304,10899100,2,2016-01-29 09:07:54,2016-01-29 09:18:25,1,1.42,-74.002907,40.760262,1,N,...,40.742764,1,8.5,0.0,0.5,1.00,0.00,0.3,10.30,631.0
3817,1319400,1,2016-01-06 11:44:54,2016-01-06 11:49:55,1,0.80,-73.969742,40.760273,1,N,...,40.751129,2,5.0,0.0,0.5,0.00,0.00,0.3,5.80,301.0
5503,10377300,2,2016-01-08 16:46:10,2016-01-08 16:50:53,1,0.98,-73.980614,40.745098,1,N,...,40.752670,1,5.5,1.0,0.5,1.46,0.00,0.3,8.76,283.0
21533,7033400,2,2016-01-29 15:00:37,2016-01-29 15:08:34,1,0.93,-73.980194,40.751087,1,N,...,40.742603,1,7.0,0.0,0.5,0.00,0.00,0.3,7.80,477.0
5959,10487600,2,2016-01-09 01:55:29,2016-01-09 02:10:53,1,3.65,-73.992393,40.725224,1,N,...,40.693737,1,15.0,0.5,0.5,3.26,0.00,0.3,19.56,924.0
16709,8738800,2,2016-01-21 22:28:17,2016-01-21 22:40:33,1,2.67,-73.997986,40.741215,1,N,...,40.709789,1,11.0,0.5,0.5,2.46,0.00,0.3,14.76,736.0
4487,1470800,1,2016-01-07 09:56:15,2016-01-07 10:06:45,1,1.60,-73.969833,40.784542,1,N,...,40.792049,1,9.0,0.0,0.5,1.95,0.00,0.3,11.75,630.0
16244,8534000,1,2016-01-21 13:23:14,2016-01-21 13:32:49,1,1.60,-73.970497,40.764194,1,N,...,40.784729,1,8.0,0.0,0.5,2.20,0.00,0.3,11.00,575.0
16188,8510200,2,2016-01-21 12:08:56,2016-01-21 12:33:26,1,2.26,-73.968475,40.764996,1,N,...,40.740383,2,15.5,0.0,0.5,0.00,0.00,0.3,16.30,1470.0
21211,9777900,1,2016-01-29 07:03:38,2016-01-29 07:13:36,1,1.70,-73.919090,40.765862,1,N,...,40.755730,2,8.5,0.0,0.5,0.00,0.00,0.3,9.30,598.0
10796,4693700,1,2016-01-14 20:57:01,2016-01-14 21:07:06,1,3.00,-73.987541,40.775768,1,N,...,40.743904,1,11.0,0.5,0.5,2.45,0.00,0.3,14.75,605.0
9861,3853600,2,2016-01-13 19:49:19,2016-01-13 19:57:37,5,3.24,-73.789970,40.643494,1,N,...,40.667549,2,11.5,1.0,0.5,0.00,0.00,0.3,13.30,498.0
16753,8763300,2,2016-01-21 23:35:12,2016-01-21 23:46:27,2,2.38,-73.988518,40.745411,1,N,...,40.769310,2,10.5,0.5,0.5,0.00,0.00,0.3,11.80,675.0
16482,8636800,1,2016-01-21 18:33:06,2016-01-21 19:05:13,1,6.20,-74.014458,40.709648,1,N,...,40.781403,2,25.0,1.0,0.5,0.00,0.00,0.3,26.80,1927.0
5017,10244700,2,2016-01-07 22:28:51,2016-01-07 22:33:57,2,1.29,-73.979530,40.739689,1,N,...,40.725784,1,6.0,0.5,0.5,1.46,0.00,0.3,8.76,306.0
16863,8810400,1,2016-01-22 05:58:05,2016-01-22 06:04:22,1,1.10,-73.991257,40.749512,1,N,...,40.742683,2,6.5,0.5,0.5,0.00,0.00,0.3,7.80,377.0
22489,7511400,2,2016-01-30 17:06:56,2016-01-30 17:35:12,3,5.91,-73.959824,40.808701,1,N,...,40.747883,1,23.0,0.0,0.5,1.00,0.00,0.3,24.80,1696.0
19244,5039700,2,2016-01-26 18:43:28,2016-01-26 18:55:12,1,0.84,-73.995499,40.749355,1,N,...,40.744011,1,8.5,1.0,0.5,1.50,0.00,0.3,11.80,704.0
19791,5804200,1,2016-01-27 13:31:11,2016-01-27 13:45:52,1,1.70,-73.981476,40.768654,1,N,...,40.765598,2,11.0,0.0,0.5,0.00,0.00,0.3,11.80,881.0
3640,1280300,1,2016-01-06 07:16:17,2016-01-06 07:27:15,1,2.80,-74.008018,40.721989,1,N,...,40.756683,1,11.0,0.0,0.5,1.00,0.00,0.3,12.80,658.0
19617,5560100,1,2016-01-27 08:42:12,2016-01-27 08:54:39,1,2.30,-73.942757,40.837128,1,N,...,40.807919,1,10.5,0.0,0.5,2.25,0.00,0.3,13.55,747.0
13908,6406000,2,2016-01-18 16:44:24,2016-01-18 16:52:59,1,1.29,-73.962357,40.778950,1,N,...,40.762680,1,7.5,0.0,0.5,1.66,0.00,0.3,9.96,515.0
12259,3310300,2,2016-01-16 15:54:59,2016-01-16 15:58:14,3,0.65,-73.958351,40.772903,1,N,...,40.775509,2,4.0,0.0,0.5,0.00,0.00,0.3,4.80,195.0
7373,10829800,2,2016-01-10 17:44:36,2016-01-10 17:50:40,1,1.21,-73.981613,40.747379,1,N,...,40.756760,1,6.5,0.0,0.5,1.46,0.00,0.3,8.76,364.0
9508,3611600,1,2016-01-13 12:45:05,2016-01-13 12:47:19,3,0.40,-73.952278,40.772778,1,N,...,40.777695,2,3.5,0.0,0.5,0.00,0.00,0.3,4.30,134.0
5735,10434000,2,2016-01-08 21:20:23,2016-01-08 21:31:21,1,2.19,-73.959503,40.771072,1,N,...,40.746372,1,9.5,0.5,0.5,2.16,0.00,0.3,12.96,658.0
17999,9342600,1,2016-01-24 16:49:34,2016-01-24 17:26:21,1,6.10,-73.968536,40.786530,1,N,...,40.714539,2,26.0,0.0,0.5,0.00,0.00,0.3,26.80,2207.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,143300,2,2016-01-01 03:30:48,2016-01-01 03:34:58,1,0.94,-74.004204,40.654503,1,N,...,40.647377,1,5.0,0.5,0.5,1.26,0.00,0.3,7.56,250.0
2851,9603100,2,2016-01-05 06:55:45,2016-01-05 07:06:32,1,1.57,-73.966133,40.793400,1,N,...,40.784431,2,9.0,0.0,0.5,0.00,0.00,0.3,9.80,647.0
19028,4738900,2,2016-01-26 12:44:46,2016-01-26 13:13:32,1,2.24,-74.007439,40.715641,1,N,...,40.744740,1,18.0,0.0,0.5,2.80,0.00,0.3,21.60,1726.0
19556,5488300,2,2016-01-27 07:33:04,2016-01-27 07:40:22,1,1.35,-73.961838,40.768318,1,N,...,40.783916,1,7.0,0.0,0.5,1.56,0.00,0.3,9.36,438.0
8955,3005700,2,2016-01-12 19:39:05,2016-01-12 19:42:46,1,0.52,-73.953308,40.772732,1,N,...,40.768299,1,4.5,1.0,0.5,1.00,0.00,0.3,7.30,221.0
6625,10649900,2,2016-01-09 20:42:17,2016-01-09 20:44:57,2,0.80,-73.980659,40.785320,1,N,...,40.776981,1,4.5,0.5,0.5,1.00,0.00,0.3,6.80,160.0
20404,2565500,1,2016-01-28 08:23:41,2016-01-28 08:40:25,1,1.80,-73.967300,40.766762,1,N,...,40.746391,1,12.0,0.0,0.5,1.50,0.00,0.3,14.30,1004.0
21611,7074200,1,2016-01-29 17:18:00,2016-01-29 17:32:03,1,1.00,-73.983986,40.758083,1,N,...,40.764492,1,9.5,1.0,0.5,2.25,0.00,0.3,13.55,843.0
18142,9414500,1,2016-01-24 22:15:34,2016-01-24 22:31:30,3,3.00,-73.980629,40.779949,1,N,...,40.810711,1,12.5,0.5,0.5,2.75,0.00,0.3,16.55,956.0
6650,10655900,2,2016-01-09 21:14:17,2016-01-09 21:22:42,1,1.17,-73.988052,40.739250,1,N,...,40.741478,1,7.0,0.5,0.5,0.83,0.00,0.3,9.13,505.0
5235,10303300,2,2016-01-08 09:04:36,2016-01-08 09:07:51,2,0.38,-73.989632,40.743900,1,N,...,40.743225,1,4.0,0.0,0.5,1.20,0.00,0.3,6.00,195.0
5508,10377800,2,2016-01-08 16:49:36,2016-01-08 16:57:10,2,0.98,-73.977654,40.742401,1,N,...,40.748631,1,7.0,1.0,0.5,1.00,0.00,0.3,9.80,454.0
2518,9478800,2,2016-01-04 16:47:41,2016-01-04 17:10:45,2,9.22,-73.862717,40.768837,1,N,...,40.743294,1,27.5,1.0,0.5,5.00,5.54,0.3,39.84,1384.0
804,33000,2,2016-01-02 06:41:35,2016-01-02 06:51:45,1,2.40,-73.969276,40.800720,1,N,...,40.805599,2,10.0,0.0,0.5,0.00,0.00,0.3,10.80,610.0
1747,802100,2,2016-01-03 14:00:46,2016-01-03 14:04:59,1,0.98,-73.992340,40.734589,1,N,...,40.744877,2,5.5,0.0,0.5,0.00,0.00,0.3,6.30,253.0
8608,2627200,1,2016-01-12 11:25:28,2016-01-12 11:29:47,1,0.70,-73.983727,40.760349,1,N,...,40.765083,1,5.0,0.0,0.5,1.15,0.00,0.3,6.95,259.0
16541,8662500,1,2016-01-21 19:30:45,2016-01-21 19:49:13,1,4.40,-73.968941,40.754505,1,Y,...,40.720322,1,16.5,1.0,0.5,4.75,5.54,0.3,28.59,1108.0
11729,2312600,2,2016-01-15 22:51:10,2016-01-15 23:23:16,1,5.08,-73.975349,40.761219,1,N,...,40.778782,1,23.0,0.5,0.5,2.00,0.00,0.3,26.30,1926.0
14885,6886000,2,2016-01-19 20:26:05,2016-01-19 20:28:22,6,0.40,-73.991409,40.739101,1,N,...,40.734928,2,4.0,0.5,0.5,0.00,0.00,0.3,5.30,137.0
22662,7591300,2,2016-01-30 20:16:57,2016-01-30 20:38:12,1,3.53,-73.953064,40.784607,1,N,...,40.754528,2,16.0,0.5,0.5,0.00,0.00,0.3,17.30,1275.0
4584,10154000,2,2016-01-07 12:34:19,2016-01-07 12:42:23,1,1.53,-74.010826,40.709030,1,N,...,40.727135,1,7.5,0.0,0.5,1.66,0.00,0.3,9.96,484.0
17399,9049100,1,2016-01-22 18:11:24,2016-01-22 18:26:19,1,2.60,-73.972610,40.758636,1,N,...,40.731983,1,12.0,1.0,0.5,1.00,0.00,0.3,14.80,895.0
6485,1911900,1,2016-01-09 18:20:47,2016-01-09 18:27:38,2,0.80,-73.987213,40.755035,1,N,...,40.757683,3,6.5,1.0,0.5,0.00,0.00,0.3,8.30,411.0
22825,7664100,1,2016-01-30 23:20:39,2016-01-30 23:33:14,1,3.40,-73.956894,40.770809,1,N,...,40.741203,1,13.0,0.5,0.5,2.85,0.00,0.3,17.15,755.0
11647,2245800,1,2016-01-15 21:20:52,2016-01-15 21:31:14,2,1.30,-73.991035,40.749622,1,N,...,40.739628,1,8.0,0.5,0.5,2.00,0.00,0.3,11.30,622.0
12347,3374900,1,2016-01-16 17:54:39,2016-01-16 18:01:14,1,0.80,-73.963509,40.774124,1,N,...,40.766960,1,6.0,0.0,0.5,1.35,0.00,0.3,8.15,395.0
22266,7387800,1,2016-01-30 11:13:02,2016-01-30 11:27:30,1,2.80,-73.989212,40.774403,1,N,...,40.744301,1,12.0,0.0,0.5,1.00,0.00,0.3,13.80,868.0
5587,10396900,2,2016-01-08 18:30:41,2016-01-08 18:43:08,1,2.49,-73.977890,40.776974,1,N,...,40.754799,1,10.5,1.0,0.5,2.00,0.00,0.3,14.30,747.0
900,463400,1,2016-01-02 12:03:04,2016-01-02 12:08:19,2,1.40,-73.972755,40.756241,1,N,...,40.744644,1,7.0,0.0,0.5,2.00,0.00,0.3,9.80,315.0
16303,8555700,2,2016-01-21 14:30:59,2016-01-21 14:35:31,2,0.88,-73.952278,40.784332,1,N,...,40.773121,2,5.5,0.0,0.5,0.00,0.00,0.3,6.30,272.0

In [7]:
val_df.columns.values

array(['record_id', 'VendorID', 'tpep_pickup_datetime',
       'tpep_dropoff_datetime', 'passenger_count', 'trip_distance',
       'pickup_longitude', 'pickup_latitude', 'RatecodeID',
       'store_and_fwd_flag', 'dropoff_longitude', 'dropoff_latitude',
       'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount',
       'tolls_amount', 'improvement_surcharge', 'total_amount', 'duration'], dtype=object)

In [8]:
val_df['mta_tax']

6786     0.5
10800    0.5
14240    0.5
6130     0.5
20062    0.5
16681    0.5
15337    0.5
6891     0.5
18046    0.5
12930    0.5
10810    0.5
12036    0.5
6605     0.5
139      0.5
13179    0.5
6124     0.5
20754    0.5
12948    0.5
17835    0.5
14178    0.5
10950    0.5
5481     0.5
5371     0.5
2742     0.5
21129    0.5
9608     0.5
12035    0.5
6931     0.5
17762    0.5
4106     0.5
        ...
11706    0.5
12709    0.5
18243    0.5
6099     0.5
7428     0.5
4876     0.5
20241    0.5
15545    0.5
17571    0.5
10344    0.5
7853     0.5
8291     0.5
7849     0.5
12248    0.5
18376    0.5
21900    0.5
20358    0.5
6122     0.5
3261     0.5
12360    0.5
14322    0.5
21218    0.5
13539    0.5
18044    0.5
6396     0.5
20223    0.5
16628    0.5
14357    0.5
586      0.5
14713    0.5
Name: mta_tax, Length: 4431, dtype: float64

In [9]:
# Copied from part 2
def haversine(lat1, lng1, lat2, lng2):
    """
    Compute haversine distance
    """
    lat1, lng1, lat2, lng2 = map(np.radians, (lat1, lng1, lat2, lng2))
    average_earth_radius = 6371
    lat = lat2 - lat1
    lng = lng2 - lng1
    d = np.sin(lat * 0.5) ** 2 + np.cos(lat1) * np.cos(lat2) * np.sin(lng * 0.5) ** 2
    h = 2 * average_earth_radius * np.arcsin(np.sqrt(d))
    return h

# Copied from part 2
def manhattan_distance(lat1, lng1, lat2, lng2):
    """
    Compute Manhattan distance
    """
    a = haversine(lat1, lng1, lat1, lng2)
    b = haversine(lat1, lng1, lat2, lng1)
    return a + b

# Copied from part 2
def bearing(lat1, lng1, lat2, lng2):
    """
    Compute the bearing, or angle, from (lat1, lng1) to (lat2, lng2).
    A bearing of 0 refers to a NORTH orientation.
    """
    lng_delta_rad = np.radians(lng2 - lng1)
    lat1, lng1, lat2, lng2 = map(np.radians, (lat1, lng1, lat2, lng2))
    y = np.sin(lng_delta_rad) * np.cos(lat2)
    x = np.cos(lat1) * np.sin(lat2) - np.sin(lat1) * np.cos(lat2) * np.cos(lng_delta_rad)
    return np.degrees(np.arctan2(y, x))

# Copied from part 2
def add_time_columns(df):
    """
    Add temporal features to df
    """
    df.is_copy = False # propogate write to original dataframe
    df.loc[:, 'month'] = df['tpep_pickup_datetime'].dt.month
    df.loc[:, 'week_of_year'] = df['tpep_pickup_datetime'].dt.weekofyear
    df.loc[:, 'day_of_month'] = df['tpep_pickup_datetime'].dt.day
    df.loc[:, 'day_of_week'] = df['tpep_pickup_datetime'].dt.dayofweek
    df.loc[:, 'hour'] = df['tpep_pickup_datetime'].dt.hour
    df.loc[:, 'week_hour'] = df['tpep_pickup_datetime'].dt.weekday * 24 + df['hour']
    return df

# Copied from part 2
def add_distance_columns(df):
    """
    Add distance features to df
    """
    df.is_copy = False # propogate write to original dataframe

    df.loc[:, 'bearing'] = bearing(lat1=df['pickup_latitude'],
                                   lng1=df['pickup_longitude'],
                                   lat2=df['dropoff_latitude'],
                                   lng2=df['dropoff_longitude'])
    df.loc[:, 'haversine'] = haversine(lat1=df['pickup_latitude'],
                                   lng1=df['pickup_longitude'],
                                   lat2=df['dropoff_latitude'],
                                   lng2=df['dropoff_longitude'])
    df.loc[:, 'manhattan'] = manhattan_distance(lat1=df['pickup_latitude'],
                                                lng1=df['pickup_longitude'],
                                                lat2=df['dropoff_latitude'],
                                                lng2=df['dropoff_longitude'])
    return df

def select_columns(data, *columns):
    return data.loc[:, columns]

In [50]:
def process_data_gm2(data, test=False):
    X = (
        data
        
        # Transform data
        .pipe(add_time_columns)
        .pipe(add_distance_columns)
        .pipe(select_columns,        
              'pickup_longitude',  
              'pickup_latitude',   
              'dropoff_longitude', 
              'dropoff_latitude',
              'fare_amount',
              'trip_distance', 
              'passenger_count', 
              'tip_amount', 
              'tolls_amount',
              'manhattan', 
              'total_amount'
             )
    )
    if test:
        y = None
    else:
        y = data['duration']
        
    return X, y

In [11]:
#My modified Processing pipeline.
#I am adding fare_amount, trip_distance, as there seems to be a correlation 
#between these two features and duration, which is what we are predicting.

In [ ]:
ax = sns.distplot(a = train_df['fare_amount'])
plt.ylabel('Proportion')
plt.title('Distribution of total ride amounts in the dataset')
ax = ax.get_figure()
ax.savefig('ride_hist.png', dpi = 400)

In [ ]:
ax = sns.lineplot(x = 'fare_amount', y = 'duration', data = train_df)
ax = ax.get_figure()
ax.savefig('fareline.png', dpi = 400)

In [ ]:
ax = sns.distplot(a = train_df['trip_distance'])
plt.ylabel('Proportion')
plt.title('A distribution of trip distances in the dataset.')
ax = ax.get_figure()
ax.savefig('trip_hist.png', dpi = 400)

In [ ]:
ax = sns.lineplot(x = 'trip_distance', y = 'duration', data = train_df)
ax = ax.get_figure()
ax.savefig('tripline.png', dpi = 400)

In [51]:
# Train
X_train, y_train = process_data_gm2(train_df)
"""#X_train = X_train.replace(to_replace = 0.0, value = 
               {'pickup_longitude': np.median(X_train['pickup_longitude']), 
                'pickup_latitude': np.median(X_train['pickup_latitude']), 
                'dropoff_longitude': np.median(X_train['dropoff_longitude']), 
                'dropoff_latitude': np.median(X_train['dropoff_latitude'])
               })"""
X_val, y_val = process_data_gm2(val_df)
"""#X_val = X_val.replace(to_replace = 0.0, value = 
               {'pickup_longitude': np.median(X_val['pickup_longitude']), 
                'pickup_latitude': np.median(X_val['pickup_latitude']), 
                'dropoff_longitude': np.median(X_val['dropoff_longitude']), 
                'dropoff_latitude': np.median(X_val['dropoff_latitude'])
               })"""
guided_model_2 = lm.LinearRegression(fit_intercept=True)
guided_model_2.fit(X_train, y_train)

# Predict
y_train_pred = guided_model_2.predict(X_train)
y_val_pred = guided_model_2.predict(X_val)

/srv/conda/envs/data100/lib/python3.6/site-packages/pandas/core/generic.py:4388: FutureWarning: Attribute 'is_copy' is deprecated and will be removed in a future version.
  object.__getattribute__(self, name)
/srv/conda/envs/data100/lib/python3.6/site-packages/pandas/core/generic.py:4389: FutureWarning: Attribute 'is_copy' is deprecated and will be removed in a future version.
  return object.__setattr__(self, name, value)

In [52]:
y_train_pred[y_train_pred < 0] = 0
y_val_pred[y_val_pred < 0] = 0

In [19]:
X_val.isnull().any()

fare_amount        False
trip_distance      False
passenger_count    False
tip_amount         False
tolls_amount       False
manhattan          False
total_amount       False
dtype: bool

In [20]:
X_train.isnull().any()

fare_amount        False
trip_distance      False
passenger_count    False
tip_amount         False
tolls_amount       False
manhattan          False
total_amount       False
dtype: bool

In [39]:
assert 600 <= np.median(y_train_pred) <= 700
assert 600 <= np.median(y_val_pred) <= 700

In [53]:
X_train.iloc[0, :].dot(guided_model_2.coef_) + guided_model_2.intercept_

473.41016929710167

In [54]:
y_train_pred[0]

473.41016929701436

In [55]:
def mae(actual, predicted):
    """
    Calculates MAE from actual and predicted values
    Input:
      actual (1D array-like): vector of actual values
      predicted (1D array-like): vector of predicted/fitted values
    Output:
      a float, the MAE
    """
    
    mae = np.mean(np.abs(actual - predicted))
    return mae

In [56]:
print("Validation Error: ", mae(y_val_pred, y_val))

Validation Error:  147.954972584

In [57]:
print("Training Error: ", mae(y_train_pred, y_train))

Training Error:  147.343071359

These appear to be markedly lower validation and training errors than the guided example in the part 4 notebook.

In [ ]:
# Distribution of residuals
plt.figure(figsize=(8,4))
ax = sns.distplot(np.abs(y_val - y_val_pred))
plt.xlabel('residual')
plt.title('distribution of residuals')
ax = ax.get_figure()
ax.savefig('residual_hist.png', dpi = 400)

In [ ]:
# Average residual grouping by ride duration
val_residual = X_val.copy()
val_residual['duration'] = y_val
val_residual['rounded_duration'] = np.around(y_val, -2)
val_residual['residual'] = np.abs(y_val - y_val_pred)
tmp = val_residual.groupby('rounded_duration').mean()
plt.figure(figsize=(8,4))
tmp['residual'].plot()
plt.ylabel('average residual')
plt.title('average residual by ride duration')

In [ ]:
ax = sns.lineplot(x = 'passenger_count', y = 'duration', data = train_df)
ax = ax.get_figure()
ax.savefig('passline.png', dpi = 400)

In [ ]:
ax = sns.lineplot(x = 'tip_amount', y = 'duration', data = train_df)
ax = ax.get_figure()
ax.savefig('tipline.png', dpi = 400)

In [ ]:
ax = sns.lineplot(x = 'tolls_amount', y = 'duration', data = train_df)
ax = ax.get_figure()
ax.savefig('tollline.png', dpi = 400)

In [ ]:
ax = sns.lineplot(x = 'total_amount', y = 'duration', data = train_df)
ax = ax.get_figure()
ax.savefig('totalline.png', dpi = 400)

## Submission

You're almost done!

Before submitting this assignment, ensure that you have:

1. Restarted the Kernel (in the menubar, select Kernel$\rightarrow$Restart & Run All)
2. Validated the notebook by clicking the "Validate" button.

Then,

1. **Submit** the assignment via the Assignments tab in **Datahub** 
1. **Upload and tag** the manually reviewed portions of the assignment on **Gradescope**